<div class="w-full h-full flex flex-row">
  <div class="w-80 h-full">
    <dashboard-search-card [chatItems]="chatItems()"></dashboard-search-card>
  </div>
  <div class="w-full h-full flex flex-col items-center">
    <!-- <div
      class="w-[38rem] h-[25rem] bg-no-repeat m-8"
      style="
        background-image: url('https://img.freepik.com/foto-gratis/retrato-hombre-sonriendo-camara_23-2148238839.jpg?semt=ais_user');
      "
    ></div> -->
    <div
      class="w-full h-[25rem] bg-no-repeat bg-center my-6"
      style="
        background-image: url('https://img.freepik.com/foto-gratis/retrato-hombre-sonriendo-camara_23-2148238839.jpg?semt=ais_user');
      "
    ></div>
    <div class="w-full h-[20rem] flex flex-row space-x-8 px-8">
      <div
        class="w-full h-full bg-no-repeat bg-center my-8"
        style="
          background-image: url('https://img.freepik.com/foto-gratis/hombre-feliz-tomando-selfie_23-2148372311.jpg?semt=ais_user');
        "
      ></div>
      <div
        class="w-full h-full bg-no-repeat bg-center my-8"
        style="
          background-image: url('https://img.freepik.com/fotos-premium/captura-cabeza-mujer-india-sentada-cafe-al-aire-libre-agitando-mano-mira-camara-hacer-videollamada-chatear-usar-computadora-portatil-camara-web-ver-vlogger-grabar-seminario-web-entrevista-trabajo-distancia-concepto_183314-10521.jpg?semt=ais_user');
        "
      ></div>
      <div
        class="w-full h-full bg-no-repeat bg-center my-8"
        style="
          background-image: url('https://img.freepik.com/fotos-premium/retrato-primer-plano-mujer-adulta-sonriente-gafas_1048944-589035.jpg?semt=ais_user');
        "
      ></div>
    </div>
  </div>
</div>
