<!-- <div
  class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900"
> -->
<div
  class="sidebar fixed top-0 bottom-0 lg:left-0 overflow-y-auto translate-y-20 text-center w-80 border-solid border-2 border-x-gray-200"
>
  <div
    class="p-2.5 mt-10 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-200 text-white"
    routerLink="/dashboard/profile"
  >
    <span class="text-lg ml-4 text-gray-500 font-semibold">Perfil</span>
  </div>
  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-200 text-white"
    routerLink="/dashboard/home"
  >
    <span class="text-lg ml-4 text-gray-500 font-semibold">Explorar</span>
  </div>

  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-200 text-white"
    routerLink="/dashboard/chat"
  >
    <span class="text-lg ml-4 text-gray-500 font-semibold">Chats</span>
  </div>
  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-200 text-white"
    routerLink="/dashboard/group"
  >
    <span class="text-lg ml-4 text-gray-500 font-semibold">Grupos</span>
  </div>
  <div class="mb-4 mt-[32.5rem] bg-gray-600 h-[1px]"></div>
  <div
    class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-200 text-white"
    routerLink="/auth/login"
  >
    <i class="bi bi-box-arrow-in-right"></i>
    <span class="text-lg ml-4 text-gray-500 font-semibold">Log out</span>
  </div>
</div>
