<div class="flex flex-col w-full items-stretch">
  <div class="speaker-header grow font-semibold text-lg shadow-md py-4 pl-6">
    <span>Hablantes nativos de ingles</span>
  </div>
  <div class="speaker-content">
    <div class="grid grid-cols-2 w-full">
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
      <!-- div separator -->
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 w-full">
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
      <!-- div separator -->
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col w-full items-stretch">
  <div class="speaker-header grow font-semibold text-lg shadow-md py-4 pl-6">
    <span>Hablantes nativos de ingles</span>
  </div>
  <div class="speaker-content">
    <div class="grid grid-cols-2 w-full">
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
      <!-- div separator -->
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 w-full">
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
      <!-- div separator -->
      <div class="flex flex-col w-full border-2 border-x-2">
        <div class="speaker-profile py-2 pl-6 flex flex-row space-x-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          <div class="flex flex-col justify-center">
            <span class="font-semibold">Jorge Cayetano</span>
            <span>04, Julio 2001</span>
          </div>
        </div>
        <div class="my-2 bg-gray-300 h-[1px]"></div>
        <div class="speaker-content">
          <div class="py-6 flex flex-col space-y-4">
            <span class="pl-6 text-xl font-semibold"
              >Hablante Nativo Ingles</span
            >

            <span class="pl-6 text-gray-500"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus quam aperiam rerum! Iste, illum eius obcaecati nam
              similique explicabo dicta commodi tempore ea, eos perferendis
              necessitatibus quaerat iusto nisi debitis.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
