<div class="flex flex-col relative">
  <div class="py-8 bg-indigo-500"></div>
  <div>
    <div class="flex justify-end pr-12 pt-10 bg-indigo-100">
      <button
        class="text-white inline-flex items-center space-x-2 bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-base mt-4 md:mt-0 transition-colors duration-150"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
          />
        </svg>

        <span class="font-semibold text-lg">Edit</span>
      </button>
    </div>
  </div>
  <div class="absolute inset-0 flex items-center justify-center mx-96">
    <div class="text-black p-4 rounded flex flex-col items-center">
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-28"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg> -->
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/John_Doe%2C_born_John_Nommensen_Duchac.jpg/1200px-John_Doe%2C_born_John_Nommensen_Duchac.jpg"
        alt="profile-image"
        class="h-[5rem] md:h-[6rem] w-[6rem] rounded-full object-cover border-solid border-4 border-white"
      />
      <span class="font-semibold text-xl">Federico Silva</span>
    </div>
  </div>
</div>
<div class="flex flex-col h-[45.7rem] flex-grow bg-indigo-100">
  <div class="px-24 py-4 text-xl font-semibold">
    <span>Descripción:</span>
  </div>
  <div class="mx-24 my-4 px-2 py-6 rounded-lg font-semibold bg-white">
    <span
      >Hola!, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
      sed quae molestiae molestias, mollitia quisquam possimus esse obcaecati!
      Sapiente, quam repellat ad ab atque officia. Necessitatibus maiores sint
      velit placeat!</span
    >
  </div>
  <div
    class="flex flex-row px-24 pt-[5.1rem] mb-8 space-x-36 font-semibold text-xl"
  >
    <span>Edad:</span>
    <span>24 años</span>
  </div>
  <div class="flex flex-row px-24 mb-8 space-x-20 font-semibold text-xl">
    <span>Pais de Origen:</span>
    <span>Perú</span>
  </div>
  <div class="flex flex-row px-24 mb-8 space-x-20 font-semibold text-xl">
    <span>Idioma Nativo:</span>
    <span>Español</span>
  </div>
  <div class="flex flex-row px-24 mb-8 space-x-14 font-semibold text-xl">
    <span>Idioma de interes:</span>
    <span>Ingles</span>
  </div>
  <div class="flex flex-row px-24 mb-8 space-x-28 font-semibold text-xl">
    <span>Intereses:</span>
    <div class="flex flex-row space-x-4">
      <span
        class="bg-white p-1 px-4 rounded-xl border-solid border-2 border-gray-500"
        >Viajes</span
      >
      <span
        class="bg-white p-1 px-4 rounded-xl border-solid border-2 border-gray-500"
        >Videojuegos</span
      >
      <span
        class="bg-white p-1 px-4 rounded-xl border-solid border-2 border-gray-500"
        >Libros</span
      >
    </div>
  </div>
</div>
