<div class="w-[30rem]">
  <div
    class="w-[29rem] m-2 fixed top-20 bottom-0 right-0 flex flex-col border-solid border-r-2 bg-white rounded-3xl shadow-md"
  >
    <div
      class="flex flex-row space-x-2 font-semibold border-solid border-y p-4"
    >
      <span class="text-xl">Conversaciones activas</span>
      <span
        class="px-2 bg-gray-100 rounded-md border-solid border-2 border-gray-200 text-base"
        >{{ chatItems().length }}</span
      >
    </div>
    <div class="flex flex-row justify-center space-x-2 p-4">
      <coral-input class="w-full" inputPlaceholder="Buscar...">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-gray-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </coral-input>
    </div>
    <!-- Chats -->
    @for (item of chatItems(); track $index) {
    <div
      class="flex flex-row p-4 mb-1 mx-2 rounded-md transition-colors duration-150 hover:bg-gray-200 cursor-pointer"
      [class.bg-gray-200]="selectedItemIndex() === $index"
      (click)="setSelectedItem($index)"
    >
      <div
        class="chat-img flex flex-none justify-end items-end w-12 h-12 bg-cover bg-center"
        [style]="{ 'background-image': 'url(' + item.profileImage + ')' }"
      >
        <span
          class="w-3 h-3 m-0.5 rounded-full border-solid border-2 border-white"
          [class.bg-green-500]="item.status === 'En línea'"
          [class.bg-red-500]="item.status === 'Ocupado'"
        ></span>
      </div>
      <div
        class="w-full flex flex-col justify-center font-semibold space-y-0 mx-4 pr-28"
      >
        <span>{{ item.profileName }}</span>
        <span
          class="text-xs overflow-hidden overflow-ellipsis whitespace-nowrap"
        >
          {{ item.message | lastMessage }}
        </span>
      </div>
    </div>
    }
  </div>
</div>
